.App {
  text-align: center;
}

.button {
  background:#f28d86;
  border: 0.09em solid white;
  border-radius: 1em;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 0.1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.36em 0 0.20em 0;
  text-transform: uppercase;
  transition: 0.5s background;
  width: 320px;
}
 .button:hover {
  color: #000000;
  background-color: #FFFFFF;
}

.input {
  background-color: #f3d7cc;
  border: 0.09em solid rgba(255, 255, 255, 0.25);
  border-radius: none;
  color:white;
  letter-spacing: 0.1em;
  margin: 0 0.09em 0.09em 0.09em;
  padding: 0.35em 0 0.20em 0;
  text-align: center;
  text-transform: uppercase;
  width: 320px;
}

.input input::-webkit-input-placeholder{
  color: rgba(255, 255, 255, 0.5);
}

.songholder {
  display: block;
  background-color:#f08080;
  border: 0.09em solid white;
  border-radius: 1em;
  width: auto;
  color: #f8b59b;
  letter-spacing: 0.1em;
  margin: 0 0.09em 0.09em 0.09em;
  padding: 0.35em 0 0.20em 0;
  text-align: center;
  text-transform: lowercase;
}

.song {
  color:white;
}



